<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css.css" />
</head>

<body>
  <div class="intestazione">
    <header th:replace="~{header.html::intestazione}">header</header>
  </div>

  <h1>Aggiungi un nuovo dipendente</h1>
  <form enctype="multipart/form-data" th:action="@{'/responsabile/staffResponsabile'}" method="POST"
    th:object="${dipendente}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>
    <div>
      <h2> Nome: <span><input type="text" th:field="${dipendente.name}" /> </span>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Errore</span>
      </h2>
    </div>
    <div>
      <h2> Cognome: <span><input type="text" th:field="${dipendente.surname}" /></span>
        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Errore</span>
      </h2>
    </div>
    <div>
      <h2> Eta: <span><input type="text" th:field="${dipendente.age}" /></span>
        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Errore</span>
      </h2>
    </div>
    <div>
      <h2>Foto: <span><input type="file" th:name="imageFile" accept="/image*" /></span></h2>
    </div>
    <div>
      <h2> Stipendio: <span><input type="text" th:field="${dipendente.stipendio}" /></span>
        <span th:if="${#fields.hasErrors('stipendio')}" th:errors="*{stipendio}">Errore</span>
      </h2>
    </div>
    <div>
      <span><button type="submit">Conferma</button></span>
    </div>
  </form>
</body>

</html>