<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css.css?version=3" />

<head>

</head>
<body>
<div class="intestazione">
	<header th:replace="~{header.html::intestazione}">header</header>
</div>
<div class="main">

	<div id="flex-container">
		<div class="col" id="colSpecie">
			<a th:href="@{/dipendente/elencoSpecieDipendente}">SPECIE</a>
		</div>
		<div class="col" ID="colStaff">
			<a th:href="@{/responsabile/staffResponsabile}">STAFF</a>
		</div>
		<div class="col" ID="colAmbienti">
			<a th:href="@{/dipendente/ambientiDip}">AMBIENTI</a>
		</div>
	</div>
</div>
</body>

</html>