<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css.css?version=3" />
<head>

</head>
<div class="main">
<div class="intestazione">
<header th:replace="~{header.html::intestazione}">header</header>
</div>
<div id="flex-container">
	<div class="col">
		<a th:href="@{/dipendente/elencoSpecieDipendente}">SPECIE</a>
	</div>
	<div class="col">
		<a th:href="@{/responsabile/staffResponsabile}">STAFF</a>
	</div>
	<div class="col">
		<a th:href="@{/dipendente/ambientiDip}">AMBIENTI</a>
	</div>
</div>
</div>
</body>
</html>