<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css.css?version=3" />
<head>

</head>
<body>
<div class="intestazione">
<header th:replace="~{header.html::intestazione}">header</header>
</div>
	
<div th:if="${dipendente}">
	 <h2 th:text="${dipendente.name} + ' ' + ${dipendente.surname} + ' età: ' + ${dipendente.age}">
		 Nome dipendente Cognome dipendente Eta stipendio</h2>
        <span><img width="30%" th:src=${dipendente.Image} /></span>
        <form th:action="@{'/dipendente/' +${dipendente.id} }" method="POST" th:object="${dipendente}">
	        <span> <input type="text" name="stipendio" th:value="${dipendente.stipendio}" > </span> 
	        <div>
            <span><button type="submit">Conferma</button></span>
            </div>
	   </form>
    </div>
    <div th:unless="${dipendente}">Non esiste</div>
</body>	
</html>