<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css.css" />
</head>

<body>
  <div class="intestazione">
    <header th:replace="~{header.html::intestazione}">header</header>
  </div>
  
<div class="main">
	
		<h1>Seleziona l'ambiente </h1>
		<div th:if="${ambienti.isEmpty()}">
			<h2>Non ci sono ambienti nel sistema</h2>
		</div>

		<div class="container">
			<div class="card" th:each="ambiente : ${ambienti}">
				<a th:href="@{'/operazioneAddResponsabile' + '/' + ${dipendente.id} + '/' + ${ambiente.id}}">
        <h1 th:text="${ambiente.nome}">Ambiente </h1>
      </a>
			</div>
		</div>
	</div>
</body>

</html>