<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css.css?version=3" />
<head>

</head>
<div class="intestazione">
  <header th:replace="~{header.html::intestazione}">header</header>
  </div>
<body class="staff">
<div class="container">
  <div class="left-section">
	  <h1>DIPENDENTI</h1>
	  <div th:if="${dipendenti.isEmpty()}">Non ci sono dipendenti nel sistema</div>
	  <div th:unless="${dipendenti.isEmpty()}"> 
    <div class="employee-box" th:each="personale : ${dipendenti}">
		<a th:href="@{'/personaleResponsabile' + '/' + ${personale.id}}">
			<h5 th:text="${personale.name} + ' ' + ${personale.surname} ">Dipendente </h5>
		</a> </div></div>
    <div class="button"> 
	  <a th:href="@{/responsabile/formAddDipendente}">aggiungi dipendente</a>
    </div>
  </div>
  <div class="right-section">
      <h1>RESPONSABILI</h1>
      <div th:if="${responsabili.isEmpty()}">Non sono ancora stati assegnati dei responsabili 
                                             per gli ambienti</div>
      <div th:unless="${responsabili.isEmpty()}">
      <div class="manager-box" th:each="personale : ${responsabili}">
		<a th:href="@{'/personale' + '/' + ${personale.id}}">
			<h5 th:text="${personale.name} + ' ' + ${personale.surname}">Responsabile </h5>
		</a></div></div>
  </div>
</div>
</body>
</html>