<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css.css?version=3" />
<head>

</head>
<body class="ambienti">
<div class="intestazione">
<header th:replace="header.html::intestazione">header</header>
</div>


<div class="container" >
	<div class="card" th:each="ambiente : ${ambienti}">
		<a th:href="@{'/ambienti/' + ${ambiente.id}}" th:text="${ambiente.nome}">NOME AMBIENTE</a>
	</div>
</div>
<div class="button"> 
	<a th:href="@{/formAddAmbiente}">aggiungi ambiente</a>
</div>
</body>
</html>