<html>
    <head>
		<title>SIW Zoo</title>
		<link rel="stylesheet" href="/css.css"/>
	</head>
	<body>
		<div class="main">
		<div class="titolo"> Siw Zoo </div>

		<div class="sottotitolo" > <h1 th:text="${ambiente.nome}">Nome ambiente</h1></div>

		<div class="descrizione"><h1 th:text="${ambiente.descrizione}">Descrizione ambiente </h1> </div> 

		<div id="flex-container">
			<a class="col" href="#"><div> Specie 1</div></a>
			<a class="col" href="#"><div> Specie 2</div></a>
			<a class="col" href="#"><div> Specie 3</div></a>
		</div>

        <a class="button" href="/formAddSpecie"><div> Inserisci nuova specie</div></a>

	    </div>
	</body>
</html>