<!DOCTYPE html>

<head>

	<link rel="stylesheet" href="/css.css">
</head>

<body>
	<div class="intestazione">
		<header th:replace="~{header.html::intestazione}">header</header>
	</div>

	<div th:if="${animali==null or animali.isEmpty()}">Non ci sono animali nel sistema</div>
	<div th:unless="${animali==null or animali.isEmpty()}">
		<div id="flex-container">
			<div th:each="animale: ${animali}"  id="animale" class="col">
				<a th:text="${animale.nome}" th:href="@{'/animali/'+${animale.id}}">
					<div> Animale 1</div>
				</a>
			</div>
		</div>
</body>