<html>
    <head>
		<title>SIW Zoo</title>
		<link rel="stylesheet" href="css.css"/>
	</head>
	<body>
		<div class="main">
		<div class="titolo"><a href="/"> Siw Zoo </a></div>
            <div class="data-container">
                <div class="left-box">
                    <img src="path/to/image.jpg" alt="Image">
                </div>

                <div class="right-box">
                    <div class="info-box">
                        <h2>Nome:</h2>
                        <p>nome</p>
                    </div>
                    <div class="info-box">
                        <h2>Tipo animale:</h2>
                        <p>animale</p>
                    </div>
                    <div class="info-box">
                        <h2>Specie:</h2>
                        <p>specie</p>
                    </div>
                    <div class="info-box">
                        <h2>Età:</h2>
                        <p>eta</p>
                    </div>
                    <div class="info-box">
                        <h2>Descrizione:</h2>
                        <p>descrizione</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



