<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/stile.css?version=3" />
<head>

</head>
<body>
<div class="titolo"><a href="/">Siw Zoo </a> </div>
<header th:replace="header.html::intestazione">header</header>	
<div th:if="${dipendente}">
    <h2 th:text="${dipendente.name} + ' ' + ${dipendente.surname} + ' età: ' + ${dipendente.age}
    + ' stipendio: ' + ${dipendente.stipendio}">
		 Nome dipendente Cognome dipendente Eta stipendio</h2>
        <span><img width="30%" th:src=${dipendente.Image} /></span>
    </div>
    <div th:unless="${dipendente}">Non esiste</div>
</body>	
</html>