<html>
    <head>
        <title>SIW Zoo</title>
		<link rel="stylesheet" href="css.css"/>
    </head>

    <body>
        <div class="main">
         <div class="intestazione">
<header th:replace="header.html::intestazione">header</header>
</div>
        
        <div th:if="${elencoSpecie.isEmpty()}">
		<h2>Non ci sono specie nel sistema</h2>
		</div>
    <ul>
		  <div id="container">
			  <div class="card" th:each="specie : ${elencoSpecie}">
                <a th:href="@{'/specie' + '/' + ${specie.id}}" 
                th:text="${specie.nome}"></a>
            </div>
            </div>
      </div>
    </ul>
    <div class="button">
		<a  th:href="@{/formAddSpecie}"> Inserisci nuova specie</a>
	</div>
    </body>
</html>