<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stile.css" />
  </head>
  <body>
	<div class="titolo"><a href="/">Siw Zoo </a> </div>
    <h1>Aggiungi una nuova ambiente</h1>
    <form th:action="@{/ambienti}" method="POST" th:object="${ambiente}">
		
      <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
        </div>  
 
      <div>
       <h2> Nome: <span ><input type="text" th:field="${ambiente.nome}"/></span>
       <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Errore</span> </h2>
      </div>
      <div>
       <h2> Superficie: <span ><input type="text" th:field="${ambiente.superficie}"/></span>
       <span th:if="${#fields.hasErrors('superficie')}" th:errors="*{superficie}">Errore</span></h2>
      </div>
      <div>
       <h2>URL immagine: <span><input type="url" th:field="${ambiente.image}" /></span></h2>
      </div>
	  <div>
       <h2>descrizione: <span><input type="text" th:field="${ambiente.descrizione}" /></span>
       <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">Errore</span></h2>
      </div>
      <div>
        <span><button type="submit">Conferma</button></span>
      </div>
    </form>
  </body>
</html>
