<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stile.css" />
  </head>
  <body>
	<div class="titolo"><a href="/">Siw Zoo </a> </div>
    <h1>Aggiungi un nuovo animale</h1>
    <form th:action="@{'/animali/'+ ${specie.id}}" method="POST" th:object="${animale}">
      <div>
        <span th:text="${messaggioErrore}">Errore</span>
      </div>
      <div>
       <h2> Nome: <span ><input required type="text" th:field="${animale.nome}"/> </h2></span>
      </div>
      <div>
       <h2> Eta: <span ><input required type="text" th:field="${animale.eta}"/></h2></span>
      </div>
      <div>
       <h2>URL immagine: <span><input type="url" th:field="${animale.foto}" /></span></h2>
      </div>
	  <div>
       <h2>peso: <span><input type="text" th:field="${animale.pesoInKg}" /></span></h2>
      </div>
      <div>
        <span><button type="submit">Conferma</button></span>
      </div>
    </form>
  </body>
</html>
