<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css.css?version=3" />
<head>

</head>
<!--<div class="intestazione">-->
	<header th:replace="~{header.html::intestazione}">header</header>
	<!--</div>-->
<div class="main">
<div id="flex-container">
	<div class="col" id="colSpecie">
		<a th:href="@{/elencoSpecie}">SPECIE</a>
	</div>
	<div class="col" id="colStaff">
		<a th:href="@{/staff}">STAFF</a>
	</div>
	<div class="col" id="colAmbienti">
		<a th:href="@{/ambienti}">AMBIENTI</a>
	</div>
</div>
</div>
</body>
</html>