<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/stile.css?version=3" />
<head>

</head>
<body>
<header th:replace="header.html::intestazione">header</header>
<div class="container">
	<div class="section">
		<div class="box">
			<a th:href="@{/elencoSpecie}">SPECIE</a>
		</div>
	</div>
	<div class="section">
		<div class="box">
			<a th:href="@{/staff}">STAFF</a>
		</div>
	</div>
	<div class="section">
		<div class="box">
			<a th:href="@{/ambienti}">AMBIENTI</a>
		</div>
	</div>
	
</div>
</body>
</html>