<html>
    <head>
		<title>SIW Zoo</title>
		<link rel="stylesheet" href="/css.css">
	</head>
	<body>
		<div class="main">
		<div class="titolo"><a href="/">Siw Zoo </a></div>

		<div class="sottotitolo"> <h1 th:text="${specie.nome}">Nome specie </h1> </div>

		<div class="descrizione"> <h1 th:text="${specie.descrizione}">Descrizione specie </h1> </div> 

		<div id="flex-container">
			<a class="col" href="#"><div> Animale 1</div></a>
			<a class="col" href="#"><div> Animale 2</div></a>
			<a class="col" href="#"><div> Animale 3</div></a>
		</div>

		<a class="button" href="#"><div> Inserisci nuovo animale </div></a>

	    </div>
	</body>
</html>