<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/stile.css?version=3" />
<head>

</head>
<body class="staff">
<header th:replace="header.html::intestazione">header</header>
<div class="container">
  <div class="left-section">
	  <h1>DIPENDENTI</h1>
    <div class="employee-box"><a href="/dipendente">Dipendente 1</a> </div>
    <div class="employee-box">Dipendente 2</div>
    <div class="employee-box">Dipendente 3</div>
  </div>
  <div class="right-section">
      <h1>RESPONSABILI</h1>
    <div class="manager-box">Responsabile 1</div>
    <div class="manager-box">Responsabile 2</div>
    <div class="manager-box">Responsabile 3</div>
  </div>
</div>
</html>