<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/stile.css?version=3" />
<head>

</head>
<body class="staff">
<header th:replace="header.html::intestazione">header</header>
<div class="container">
  <div class="left-section">
	  <h1>DIPENDENTI</h1>
	  <div th:if="${personale.isEmpty()}">Non ci sono dipendenti nel sistema</div>
    <div class="employee-box" th:each="personale : ${personale}">
		<a th:href="@{'/personale' + '/' + ${personale.id}}">
			<h3 th:text="${personale.name} + ' ' + ${personale.surname} ">Dipendente 1</h3>
		</a> </div>
    <div class="button"> 
	  <a href="/formAddDipendente">aggiungi dipendente</a>
    </div>
  </div>
  <div class="right-section">
      <h1>RESPONSABILI</h1>
    <div class="manager-box">Responsabile 1</div>
    <div class="manager-box">Responsabile 2</div>
    <div class="manager-box">Responsabile 3</div>
  </div>
</div>
</html>