<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css.css" />
  </head>
  <body>
	<div class="intestazione">
<header th:replace="~{header.html::intestazione}">header</header>
</div>

    <h1>Aggiungi una nuova specie</h1>
    <form th:action="@{'/dipendente/addSpecie'}" method="POST" th:object="${specie}">
      <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
      </div>  
      <div>
       <h2> Nome: <span ><input type="text" th:field="${specie.nome}"/> </span>
       <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Errore</span></h2>
      </div>
      <div>
       <h2> Provenienza: <span ><input type="text" th:field="${specie.provenienza}"/></span>
       <span th:if="${#fields.hasErrors('provenienza')}" th:errors="*{provenienza}">Errore</span></h2>
      </div>
	  <div>
       <h2>descrizione: <span><input type="text" th:field="${specie.descrizione}" ></span>
       <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">Errore</span></h2>
      </div>
      <div>
        <span><button type="submit">Conferma</button></span>
      </div>
    </form>
  </body>
</html>
