<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css.css" />
  </head>
  <body>
<div class="intestazione">
<header th:replace="~{header.html::intestazione}">header</header>
</div>

    <h1>Aggiungi un nuovo animale</h1>
    <form enctype="multipart/form-data" th:action="@{'/animali/'+ ${specie.id}}" method="POST" th:object="${animale}">
      <div>
        <span th:text="${messaggioErrore}">Errore</span>
      </div>
      <div>
       <h2> Nome: <span ><input required type="text" th:field="${animale.nome}"/> </h2></span>
      </div>
      <div>
       <h2> Eta(Anni): <span ><input required type="text" th:field="${animale.eta}"/></h2></span>
      </div>
      <div>
       <h2>URL immagine: <span><input type="file" th:name="imageFile" accept="/image*" /></span></h2>
      </div>
	  <div>
       <h2>peso(Kg): <span><input type="text" th:field="${animale.pesoInKg}" /></span></h2>
      </div>
      <div>
        <span><button type="submit">Conferma</button></span>
      </div>
    </form>
  </body>
</html>
