body {
  background-color: green;
}

div.main{
  align-items: center;
  display: flex;
  flex-direction: column;
}

div.titolo {
  background-color: rgb(0, 255, 0);
  border: 2px solid black;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.sottotitolo {
  background-color: rgb(0, 255, 0);
  border: 2px solid black;
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

div.descrizione {
  background-color: rgb(0, 255, 0);
  border: 2px solid black;
  width: 95%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

#flex-container {
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 100%;
  margin-top: 2%;
}

.col {
  background-color: rgb(0, 255, 0);
  border: 2px solid black;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 5%;
}

.col:hover{
  transform: scale(1.05,1.05);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.button{
  background-color: rgb(0, 255, 0);
  border: 2px solid black;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 1%;
  margin-top: 2%;
}

.button:hover{
  transform: scale(1.05,1.05);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.card{
  background-color: rgb(0, 255, 0);
  border: 2px solid black;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 8%;
  height: 600px;
}

.card:hover{
  transform: scale(1.05,1.05);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.data-container {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  height: 200px;
  width: 100%;
  margin-top: 15%;
}

.left-box {
  /*flex: 2;*/
  height: 400px;
  width: 400px;
  background-color: aliceblue; 
  border-radius: 5px; 
  box-shadow: 5px 5px 5px black;
}

.right-box {
  /*flex: 1;*/
  height: 500px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue; 
  border-radius: 5px; 
  box-shadow: 5px 5px 5px black;
  padding: 10px;
}

.info-box {
  margin: 0;
  padding: 0;
}

.staff, .container {
  display: flex;
}